<h1>index 창입니다. title만 보여줄겁니다.</h1>
<a href='{% url 'boards:new' %}'>새로 생성하기</a>
<h2>board 목록</h2>
{% for board in boards %}
<ul>
    <li>pk : {{board.pk}}</li>
    <li>title : {{board.title}}</li>
    created_at : {{board.created_at}}<br>
    updated_at : {{board.updated_at}}
</ul>
<a href="{% url 'boards:detail' board.pk %}">상세보러가기</a>
<form action='{% url 'boards:delete' board.pk %}' method='POST' style='display:inline' onsubmit="return confirm('삭제할꺼야?')">
    {% csrf_token %}
    <input type='submit', value='삭제'>
</form>
<hr>
{% endfor %}

